/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'gluten';
    src: url('fonts/Gluten-VariableFont_slnt\,wght.ttf');
}

@font-face {
    font-family: 'workbench';
    src: url('fonts/Workbench-Regular.ttf');
}

:root {
    font-size: 62.5%;
}

body {
    background-image: url('images/starry-sky-2675322_1920.jpg');
    background-color: #333;
}

.container {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 125px 1fr 100px;
    row-gap: 20px;
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    backdrop-filter: blur(8px) saturate(130%);
    -webkit-backdrop-filter: blur(8px) saturate(130%);
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    /*border: 1px solid rgba(209, 213, 219, 0.2);*/

    display: flex;
    flex-direction: column;
}

header h1 {
    margin-top: 20px;
    font-family: 'workbench';
    font-size: 10rem;
    color: #CCE;
    align-self: center;
    justify-self: end;
    opacity: 100%;
    rotate: 2deg;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    backdrop-filter: blur(8px) saturate(130%);
    -webkit-backdrop-filter: blur(8px) saturate(130%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    /*border: 1px solid rgba(209, 213, 219, 0.2);*/
    display: grid;

    grid-template-columns: 1fr 300px 300px 1fr;
    grid-template-rows: minmax(100px, 1fr) 600px minmax(100px, 1fr);
}

.gameControls {
    padding-top: 20px;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 100px 1fr 200px;
    gap: 10px;
}

.gameControls p{
    font-family: 'workbench';
    font-size: 4rem;
    text-align: right;
    color: #605dff;
    align-self: end;
}

.gameControls input {
    border: none;
    font-family: 'gluten';
    max-width: 250px;
    height: 40px;
    font-size: 3rem;
    background-color: #333;
    color: #eee;
    align-self: center;
    border-radius: 8px;
    grid-column: 2 / 3;
}

.gameControls .playerName {
    font-family: 'gluten';
    height: 40px;
    font-size: 3rem;
    color: #eee;
    padding-left: 20px;
    text-align: left;
    display: none;
    grid-column: 2 / 3; 
}

.gameControls button {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    font-family: 'gluten';
    font-size: 2.5rem;
    margin-right: 20px;
    border: none;
    color: #CCC;
    background-color: #605dff;
    border-radius: 20px;
}

.boardContainer {
    grid-row: 2/3;
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}

.winLine {
    border: 5px solid red;
    width: 550px;
    left: 25px;
    position: fixed;
    grid-column: 2/3;
    grid-row: 2/3;
    top: 300px;
    rotate: 0deg;
    visibility: hidden;
}

.winState0 {
    top: 100px;
    visibility: visible;
}

.winState1 {
    visibility: visible;
}

.winState2 {
    top: 500px;
    visibility: visible;
}

.winState3 {
    top: 300px;
    left: -170px;
    rotate: 90deg;
    visibility: visible;
}

.winState4 {
    top: 300px;
    left: 20px;
    rotate: 90deg;
    visibility: visible;
}

.winState5 {
    top: 300px;
    left: 220px;
    rotate: 90deg;
    visibility: visible;
}

.winState6 {
    rotate: 45deg;
    visibility: visible;
}

.winState7 {
    rotate: -45deg;
    visibility: visible;
}


.space{
    font-family: 'workbench';
    font-size: 20rem;
    color: #CCC;
    text-align: center;
}

.space1 {
    border-left:#CCC 6px solid;
    border-right: #CCC 6px solid;
}

.space3 {
    border-top:#CCC 6px solid;
    border-bottom: #CCC 6px solid;
}

.space4 {
    border: #CCC 6px solid;
}

.space5 {
    border-top:#CCC 6px solid;
    border-bottom: #CCC 6px solid;
}

.space7 {
    border-left:#CCC 6px solid;
    border-right: #CCC 6px solid;
}

.gameFeedback {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    font-family: 'gluten';
    font-size: 4rem;
    text-align: center;
    color: #605dff;
    align-self: center;
}

footer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    backdrop-filter: blur(8px) saturate(130%);
    -webkit-backdrop-filter: blur(8px) saturate(130%);
    background-color: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    /*border: 1px solid rgba(209, 213, 219, 0.2);*/

    display: flex;
    flex-direction: column;
}

footer p {
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: #CCE;
    align-self: center;
    justify-self: end;
    opacity: 50%;
}